 p{
     font-size: 20px;
     font-weight: bolder;
     font-style: italic;
        }
 .links{
     display: flex;
 }
 .links a {
     background-color: black;
     color: white;
     padding: 10px 20px;
     margin: 0 10px;
     text-decoration: none;
     border-radius: 5px;
 }
 .links a:hover{
     color: blue;
     background-color: lightskyblue;
 }